<head>
  <title>Log In</title>
</head>

<h1>Login</h1>

<% if @errors %>
  <%= @errors %>
<% end %>
<br>
<br>

<form name="login" action="/login" method="POST">
  username:
  <input type="text" name="username">
  <br>
  password:
  <input type="text" name="email">
  <br>
  <input type="password" name="password">
  <br>
  <input type="submit" value="login">
</form>
<br>
