<head>
  <title>Create Account</title>
</head>

<h1>Create an Account</h1>

<% if @errors %>
  <%= @errors %>
<% end %>
<br>
<br>

<form name="signup" action="/users" method="POST">
  username:
  <input type="text" name="username">
  <br>
  password:
  <input type="password" name="password">
  <br>
  email:
  <input type="text" name="email">
  <br>
  <input type="submit" value="login">
</form>
<br>
