<h2>Let's just go ahead and make a new survey already</h2>
  <form action="/surveys" method="POST">
    <input type="text" name="survey[name]" placeholder="You MUST name your survey">
    <input type="text" name="survey[description]" placeholder="Give it a description, or don't">
    <input type="submit" value="You'll have to click this at some point">
  </form>
